@inherits LayoutBase

<div class="layout">
    <Selection 
        OnStartClick="HandleOnStartClick"
        OnStopClick="HandleOnStopClick"
        OnCreateClick="HandleOnCreateClick"
        OnPatternSelectClick="HandleOnPatternSelect"
        UserId ="@UserId"
        SelectedPatternId="@SelectedPatternId">
    </Selection>
    <p>Generation: @Generation</p>
    @if (SelectedWorld != null)
    {
        <PopulationPatternGrid 
            Rows="@SelectedWorld.Rows"
            Readonly="@Readonly"                   
            OnCellClick="@HandleOnCellClick"/>
    }
</div>