@inherits LayoutBase

<div class="layout">
    <Selection
        OnStartClick="HandleOnStartClick"
        OnStopClick="HandleOnStopClick"
        OnCreateClick="HandleOnCreateClick"
        OnPatternSelectClick="HandleOnPatternSelect"
        UserId="@UserId"
        SelectedPatternId="@SelectedPatternId"
    />
        <p>Generation: @Generation</p>
        @if (SelectedWorld != null)
        {
            <PopulationPatternGrid 
                Rows="@SelectedWorld.Rows"
                IsReadonly="@IsReadonly"
                OnCellClick="@HandleOnCellClick" 
            />
        }
</div>